In [2]:
# importing pandas package
import pandas as pd

In [3]:
# reading elections data from csv files
elections = pd.read_csv("elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

In [5]:
# slicing operations
elections.loc[1, 'Candidate']

'John Quincy Adams'

In [15]:
# slicing multiple rows and columns
elections.loc[0:3, 'Candidate': 'Popular vote']

           Candidate                  Party  Popular vote
0     Andrew Jackson  Democratic-Republican        151271
1  John Quincy Adams  Democratic-Republican        113142
2     Andrew Jackson             Democratic        642806
3  John Quincy Adams    National Republican        500897

In [7]:
# slicing multiple rows and all columns
elections.loc[0:3, :]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

In [6]:
# slicing all rows and some columns
elections.loc[:, 'Candidate': 'Popular vote']

             Candidate                  Party  Popular vote
0       Andrew Jackson  Democratic-Republican        151271
1    John Quincy Adams  Democratic-Republican        113142
2       Andrew Jackson             Democratic        642806
3    John Quincy Adams    National Republican        500897
4       Andrew Jackson             Democratic        702735
..                 ...                    ...           ...
177         Jill Stein                  Green       1457226
178       Joseph Biden             Democratic      81268924
179       Donald Trump             Republican      74216154
180       Jo Jorgensen            Libertarian       1865724
181     Howard Hawkins                  Green        405035

[182 rows x 3 columns]

In [8]:
# slicing only the specified columns
elections.loc[:, ['Candidate', 'Popular vote']]

             Candidate  Popular vote
0       Andrew Jackson        151271
1    John Quincy Adams        113142
2       Andrew Jackson        642806
3    John Quincy Adams        500897
4       Andrew Jackson        702735
..                 ...           ...
177         Jill Stein       1457226
178       Joseph Biden      81268924
179       Donald Trump      74216154
180       Jo Jorgensen       1865724
181     Howard Hawkins        405035

[182 rows x 2 columns]

In [9]:
# slicing a single column as series
elections.loc[:, 'Popular vote']

0        151271
1        113142
2        642806
3        500897
4        702735
         ...
177     1457226
178    81268924
179    74216154
180     1865724
181      405035
Name: Popular vote, Length: 182, dtype: int64

In [30]:
# slicing all rows and a single column as a dataframe
elections.loc[:, ['Popular vote']]

     Popular vote
0          151271
1          113142
2          642806
3          500897
4          702735
..            ...
177       1457226
178      81268924
179      74216154
180       1865724
181        405035

[182 rows x 1 columns]

In [11]:
# slicing single row and multiple columns as a series
elections.loc[0, ['Candidate', 'Popular vote']]

Candidate       Andrew Jackson
Popular vote            151271
Name: 0, dtype: object

In [ ]:
# slicing single row and multiple columns as a DataFrame
elections.loc[[0], ['Candidate', 'Popular vote']]

In [35]:
# slicing a single column as series using shorthand
elections['Candidate']

0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
177           Jill Stein
178         Joseph Biden
179         Donald Trump
180         Jo Jorgensen
181       Howard Hawkins
Name: Candidate, Length: 182, dtype: object

In [10]:
# slicing some columns as DataFrame using shorthand
elections[['Candidate', 'Popular vote']]

             Candidate  Popular vote
0       Andrew Jackson        151271
1    John Quincy Adams        113142
2       Andrew Jackson        642806
3    John Quincy Adams        500897
4       Andrew Jackson        702735
..                 ...           ...
177         Jill Stein       1457226
178       Joseph Biden      81268924
179       Donald Trump      74216154
180       Jo Jorgensen       1865724
181     Howard Hawkins        405035

[182 rows x 2 columns]

In [55]:
elections.iloc[0:4, 0:3]

   Year          Candidate                  Party
0  1824     Andrew Jackson  Democratic-Republican
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican

In [66]:
elections[0:4]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073